// Document Colors
$red: #C93232;
$onyx: #2E3532;
$orange: #FF7F51;
$blue: #3F7CAC;

// break points
$screen-medium: 768px;

*,
*:before,
*:after {
  box-sizing: border-box;
  transition: background-color 0.75s ease-out, color 0.75s ease-out;
}

[data-theme="light"] {
  --color-bg: white;
  --color-prmry: #{$onyx};
  --color-scndry: black;
  --filter-invert: 0;
}

[data-theme="dark"] {
  --color-bg: #{$onyx};
  --color-prmry: #e5e5e5;
  --color-scndry: white;
  --filter-invert: 1;
}

:root {
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-prmry);
}

button:hover{
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

@media (width >= $screen-medium){
  h1 {
    font-size: 3.3rem;
  }

  p {
    font-size: 1.1rem;
  }
}

@import "./_app.scss";
@import "./components/Nav/_nav.scss";
@import "./components/ToggleTheme/_toggleTheme.scss";
@import "./components/HamburgerMenu/_hamburgerMenu.scss";
@import "./components/Home/_home.scss";
@import "./components/About/_about.scss";
@import "./components/Contact/contact";
@import "./components/Work/work";