// Document Colors
$red: #C93232;
$onyx: #2E3532;
$orange: #FF7F51;
$blue: #3F7CAC;

// break points
$screen-medium: 768px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

[data-theme="light"] {
  --color-bg: white;
  --color-prmry: #{$onyx};
  --color-scndry: black;
  --filter-invert: 0;
}

[data-theme="dark"] {
  --color-bg: #{$onyx};
  --color-prmry: #e5e5e5;
  --color-scndry: white;
  --filter-invert: 1;
}

:root {
  --header-height: 5rem;
  scroll-behavior: smooth;
  scroll-padding: var(--header-height);
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-prmry);
}

button:hover{
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.4rem;
}

@media (width >= $screen-medium){
  h1 {
    font-size: 3.3rem;
  }

  p {
    font-size: 1.1rem;
  }
}

#root {
  width: inherit;
  display: flex;
  flex-direction: column;
  // &.transition {
  //   transition: background-color 0.75s ease-out, color 0.75s ease-out;
  // }
}

header {
  z-index: 1;
  padding-inline: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-bg);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.254);

  @media (width >= $screen-medium) {
    padding-inline: 2rem;
    gap: 3rem;
  }
}

.header-btn {
  padding: 0;
  background-color: transparent;
  border: none;
}

.header-btn, .navbar {
  height: 2.5rem;
}

main {
  padding-inline: 1rem;
  width: 100%;
  max-width: 60rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (width >= $screen-medium) {
    padding-inline: 2rem;
    
  }
}

section {
  padding-top: 3rem;
  scroll-margin: -2rem;
  margin: 0;
  display: grid;
  @media (width < $screen-medium) {
    justify-items: center;
    text-align: center;
  }
  @media (width >= $screen-medium) {
    padding-top: 6rem;
    scroll-margin: -4rem;
  }
}

@mixin item-header($underline-width){
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-bottom: 8px;
    text-align: center;
    color: $red;
  }

  span {
    width: $underline-width;
    height: 2px;
    background-color: $orange;
  }
}

@mixin item-tag($background-color) {
  padding-inline: 8px;
  padding-block: 2px;
  list-style: none;
  border-radius: 8px;
  background-color: $background-color;
  font-size: 0.9rem;
  color: white;
}


footer {
  width: 100%;
  min-height: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.footer-txt-wrapper {
  display: flex;
  gap: 5px;

  p {
    margin: 0;
  }
}
// Home Page
@import "./components/Nav/_nav.scss";
@import "./components/ToggleTheme/_toggleTheme.scss";
@import "./components/HamburgerMenu/_hamburgerMenu.scss";
@import "./components/Home/_home.scss";
@import "./components/About/_about.scss";
@import "./components/Contact/contact";
@import "./components/Work/work";
@import "./components/Projects/projects";

// Admin Page
@import "./pages/AdminPage/_adminPage.scss";
@import "./components/ProjectForm/_projectForm.scss";

// Login
@import "./pages//AdminLoginPage/adminLoginPage";